<div class="container-fluid">
  <div class="row">
    <!-- Sidebar Teacher -->
    <div class="col-md-3 col-lg-2 p-0 bg-dark">
      <div class="sidebar">
        <ul class="nav flex-column text-white p-3">
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/teacher/children">
              <i class="bi bi-person"></i> Students
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/teacher/groups">
              <i class="bi bi-ui-checks-grid"></i> Groups
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/teacher/programs">
              <i class="bi bi-journal-text"></i> Programs
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Main Content Area -->
    <div class="col-md-9 col-lg-10">
      <div class="container mt-4">
        <h1 class="text-center group">Programs</h1>

        <!-- Teacher Table -->
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="table-light">
              <tr>
                <th>Name</th>
                <th>Duration</th>
                <th>Description</th>
                <th>Actions</th> <!-- Ajout d'une colonne pour les boutons -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let program of data">
                <td>{{ program.name }}</td>
                <td>{{ program.duration }}</td>
                <td>{{ program.description }}</td>
                <!-- Colonne pour les boutons -->
                <td>
                  <button class="btn btn-warning">Edit</button>
                  <button class="btn btn-warning">Add</button>
                  <button class="btn btn-danger">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
