<div class="container-fluid">
  <!-- Sidebar Teacher -->
  <div class="sidebar">
    <ul class="nav flex-column text-white p-3">
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/teacher/children">
          <i class="bi bi-person"></i> Students
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/teacher/groups">
          <i class="bi bi-ui-checks-grid"></i> Groups
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/teacher/programs">
          <i class="bi bi-journal-text"></i> Programs
        </a>
      </li>
    </ul>
  </div>

  <!-- Main Content Area -->
  <div class="main-content">
    <div class="container mt-4">
      <h1 class="text-center group">Groups</h1>

      <!-- Teacher Table -->
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="table-light">
            <tr>
              <th>Name</th>
              <th>Time Table</th>
              <th>Program</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let group of data">
              <td>{{ group.name }}</td>
              <td>{{ group.timetable }}</td>
              <td>{{ group.program.name }}</td>
              <td>{{ group.program._id }}</td>
              <td>
                <button class="btn btn-warning" (click)="editGroup(group)">Edit</button>
                <button class="btn btn-success" (click)="addGroup(group)">Add</button>
                <button class="btn btn-danger" (click)="deleteGroup(group._id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
